<!--The content below is only a placeholder and can be replaced.-->


<app-header (featureSelected)="onNavigate($event)" ></app-header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 appBetterHighlight>
        <!--<h2 appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'green'">-->
        <app-recipes *ngIf="loadedFeature==='recipe'"></app-recipes>
        <app-shopping-list *ngIf="loadedFeature==='shopping'"></app-shopping-list>
      </h2>
    </div>
  </div>
</div>


